body{
    background: linear-gradient(to bottom,black,gray);

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    height: 100vh;
}

.main{
    text-align: center;
    margin-bottom: 50px;


}
.btns button{
    background-color:lightblue;
    color: red;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    padding: 1vw 1vw;
    margin-top: 100px;
}

















